<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1></h1>

<form action="/guardarAdministrador" method="post">
    <h1>Datos del PRODUCTO</h1>
    <table>
        <tr>
            <td>EMAIL: </td>
            <td> <input type="text" name="EMAIL" > </td>
        </tr>
        <tr>
            <td>PASSWORD: </td>
            <td> <input type="text" name="PASSWORD"  size="40" maxlength="40">  </td>
        </tr>


    </table>
    <button>Guardar</button>
</form>
</body>
</html>
